---
import { toLocalePath } from "@/lib/i18n";

const target = toLocalePath("en", "/topics/corporate-social-responsibility/");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
    <title>CSR Topic</title>
  </head>
  <body>
    <p><a href={target}>Go to the CSR topic</a></p>
  </body>
</html>
