---
type Item = {
  label: string;
  value: string;
};

type Props = {
  items: Item[];
};

const { items } = Astro.props;
---

<div class="meta-grid">
  {items.map((item) => (
    <div class="meta-item">
      <small>{item.label}</small>
      <div>{item.value}</div>
    </div>
  ))}
</div>
